* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,0.7), #3551b5);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: black;
    width: 500px;
    padding: 35px;
    border-radius: 20px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

.container h2 {
    font-size: 25px;
    line-height: 25px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.7), #3551b5), url(bac.jpg);
}

.input-name {
    width: 100%;
    position: relative;
    margin: 20px 0 0 20px;
}

input[type=text],
input[type=number]{
    padding: 20px;
}

.name {
    width: 90%;
    padding: 8px 0 8px 40px;
    border-radius: 15px;
}

.input-name i {
    position: absolute;
    font-size: 18px;
    color: blue;
    border-radius: 10px;
    border-right: 1px solid #cccccc;
}

.button {
   position: relative;
   height: 60px;
   width: 150px;
   margin: 5px 20px;
   border-radius: 50px;
   border: none;
   outline: none;
   background: #333;
   color: #fff;
   font-size: 15px;
   letter-spacing: 1px;
   cursor: pointer;
}

.button:first-child:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

.button:last-child:hover {
    background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
}

.button:first-child:before,
.button:last-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.button:first-child:hover:before,
.button:last-child:hover:before {
    opacity: 1;
    z-index: -1;
}

.button:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#msg {
    color: #61b752;
    margin-top: 15px;
    display: block;
    text-align: center;
}